@model IEnumerable<TravelerBlog.Domain.Entities.Location>


    <h4 class="single-sidebar-widget__title">Most Commented Locations</h4>
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="single-recent-blog-post">
                <div class="thumb">
                    <img class="img-fluid" src="@item.LocationPictures.Where(x=>x.LocationId == item.Id).Select(x=>x.FileName).FirstOrDefault()" width="400">
                    <ul class="thumb-info">
                        <li><a href="#"><i class="ti-user"></i>@item.Posts.Where(x => x.LocationId == item.Id).FirstOrDefault()</a></li>
                        <li><a href="#"><i class="ti-notepad"></i>@item.Posts.Where(x => x.LocationId == item.Id).Select(x => x.SendDate).FirstOrDefault()</a></li>
                        <li><a href="#"><i class="ti-themify-favicon"></i>@item.Posts.Where(x => x.LocationId == item.Id).Select(x => x.User.Firstname + " " + x.User.Lastname).FirstOrDefault()</a></li>
                    </ul>
                </div>
                <div class="details mt-20">
                    <a href="blog-single.html">
                        <h3>
                            @item.Posts.Where(x => x.LocationId == item.Id).Select(x => x.Title).FirstOrDefault()
                        </h3>
                    </a>
                    <p>@item.Posts.Where(x => x.LocationId == item.Id).Select(x => x.Content).FirstOrDefault()</p>
                    <a class="button" href="#">Read More <i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
    }

